@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.header {
    height: 450px;
    width: 100%;
    background: rgb(62, 57, 107);
    position: relative;
    .header_texture {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        /*Photo de Kaboompics .com provenant de Pexels*/
        background: url("../../../assets/img/banner.jpg") center no-repeat;
        background-size: cover;
        z-index: 1;
        opacity: 0.5;
    }
    .header_mask {
        position: absolute;
        bottom: 0;
        background: 0 0;
        height: 42px;
        width: 100%;
        z-index: 10;
    }
    .container {
        width: 100%;
        position: relative;
        z-index: 999;
        .header_slogan {
            text-align: center;
            margin-top: 5%;
            .h_slogan_title {
                color: #ffffff;
                font-size: 40px;
                text-transform: uppercase;
                font-family: 'Anton', sans-serif;
                font-style: italic;
                letter-spacing: 2px;
            }
        }
        .header_navbar {
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .header_navbar_logo {
                margin-left: 30px;
                a {
                    text-decoration: none;
                }
                .header_navbar_logo_title {
                    color: #ffffff;
                    font-size: 28px;
                    cursor: pointer;
                }
            }
            .header_navbar_menu {
                display: flex;
                align-items: center;
                margin-right: 2rem;
                .header_navbar_menu_link {
                    padding: 0 20px 0 20px;
                    color: #ffffff;
                    text-decoration: none;
                }
                .header_navbar_menu_link:hover {
                    opacity: 75%
                }
            }
            h1:focus {
                outline: none;
            }
        }
    }
}